.present {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 10;
}

.present__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: radial-gradient(circle, #71081e 0%, #d7485c 100%);
  width: 90px;
  height: 90px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.present__button:hover {
  box-shadow: 0px 0px 12.6px 2.4px rgba(130, 19, 40, 0.5);
}

.present__button:hover .present__tooltip{
  opacity: 1;
  bottom: 10px;
}

.present__tooltip {
  position: absolute;
  bottom: -120px;
  left: -216px;
  width: 179px;
  height: 73px;
  padding: 15px 10px 15px 10px;
  border-width: 2px;
  border-color: rgb(119, 10, 29);
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(254, 239, 238);
  z-index: 10;
  box-sizing: border-box;
  transition: 0.6s all ease;
  opacity: 0;
}

.present__tooltip::after {
  content: '';
  position: absolute;
  top: 46%;
  right: -20px;
  transform: translateY(-50%);
  width: 20px;
  aspect-ratio: 1;
  background-color: #feefee;
  border: inherit;
  rotate: -45deg;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  translate: 0px;
}

@media screen and (max-width: 350px) {

  .present {
    right: 10px;
    bottom: 10px;
  }

  .present__button {
    width: 80px;
    height: 80px;
  }

  .present__tooltip {
    left: -200px;
  }

  .present__button:hover .present__tooltip {
    bottom: 3px;
  }
}
