<header class="header container">
  <a class="logo" href="/">
    <img
      src="/images/logo.png"
      alt=""
      width="114" height="15" loading="lazy"
    />
  </a>
  <nav class="menu" id="menu">
    <div class="close"></div>
    <ul class="menu__list">
      <li>
        <a class="menu__link" href="#">Пироженки</a>
      </li>
      <li>
        <a class="menu__link" href="#">О нас</a>
      </li>
      <li>
        <a class="menu__link" href="#">Оформить заказ</a>
      </li>
    </ul>
  </nav>
  <a class="phone-link" href="#">{{ contactService.phoneNumber | phoneFormat }}</a>

  <div class="burger" id="burger">
    <span class="burger-icon"></span>
  </div>
</header>
