

.hero {
  padding-block: 126px 108px;
  overflow: hidden;
}


.grid-2-cols__column-right {
  position: relative;
}

.circle-1 {
  content: '';
  position: absolute;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid #821328;
  animation: circle 2.5s infinite ease;
  z-index: -1;
}

.circle-2 {
  content: '';
  position: absolute;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid #821328;
  animation: circle 2.5s infinite ease -3s;
  z-index: -1;
}

@keyframes circle {
  from {
    transform: scale(0.8);
    opacity: 1;
  }

  to {
    transform: scale(1.4);
    opacity: 0;
  }
}

.grid-2-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: end;
}

.grid-2-cols__column-left {
  text-align: left;
  margin-right: auto;
}

.grid-2-cols__column-right {
  text-align: right;
  margin-left: auto;
}

.hero__title {
  margin-bottom: 60px;
  font-size: 55px;
  font-family: "Tavolga", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.091;
}

.hero__subtitle {
  max-width: 347px;
  font-size: 18px;
  font-family: "Tavolga", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.389;
  margin-bottom: 80px;
}

.button {
  background-image: -moz-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  background-image: -webkit-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  border: none;
  border-radius: 30px;
  width: 240px;
  height: 60px;
  font-size: 18px;
  font-family: "Gilroy-bold", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  box-shadow: 0px 5px 9px 1px rgba(130, 19, 40, 0.5);
}

.hero__image {
  position: relative;
  right: 20px;
}

.benefits {
  background: #ffefef;
  padding-block: 120px;
}

.benefits__grid {
  align-items: end;
}

.benefits__title {
  max-width: 475px;
  margin-bottom: 60px;
  font-size: 45px;
  font-family: "Tavolga", sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.222;
}

.benefits__subtitle {
  max-width: 401px;
  font-size: 18px;
  color: rgb(51, 25, 7);
  line-height: 1.556;
  margin-bottom: 30px;
}

.benefits__image {
  margin-bottom: 10px;
}

.benefits__grid-4-cols {
  padding-top: 58px;
}

.grid-4-cols {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  justify-content: space-between;
  margin: 20px;
}

.cta {
  background: #ffefef;
  padding-block: 98px 120px;
}

.grid-cta {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.grid-cta__column-right {
  position: relative;
  max-width: 403px;
}

.cta__title {
  font-size: 45px;
  font-family: "Tavolga", sans-serif;
  color: rgb(51, 25, 7);

  margin-bottom: 41px;
}

.cta__description {
  margin-bottom: 48px;
}

.form__fieldset {
  margin-bottom: 25px;
  border: none;
}

.form__fieldset-contact {
  margin-bottom: 0;

}


.form__label {
  display: block;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: "Gilroy-Bold", sans-serif;
  color: rgb(18, 10, 6);
}

.form__field {
  margin-bottom: 15px;
  display: block;
  padding-inline: 25px;
  width: 295px;
  height: 60px;
  background: transparent;
  border-width: 1px;
  border-color: rgb(130, 19, 40);
  border-style: solid;
  border-radius: 30px;
  box-sizing: border-box;
}

.form__field::placeholder {
  font-size: 15px;
  font-family: "Gilroy-Bold", sans-serif;
  color: rgb(118, 12, 34);
}

.form__button {
  width: 295px;
}

.strawberry-1 {
  position: absolute;
  left: 0;
  top: 0;
}

.strawberry-2 {
  position: absolute;
  right: 0;
  bottom: 110px;
}

.strawberry-1 {
  animation: strawberry 2s infinite alternate ease-in-out;
}

.strawberry-2 {
  animation: strawberry 2s infinite alternate ease-in-out -2.5s;
}

@keyframes strawberry {
  from {
    transform: translateY(30px);
  }

  to {
    transform: translateY(0);
  }
}


@media screen and (max-width: 1023px) {

  .grid-2-cols {
    grid-template-columns: 1fr;
  }

  .hero {
    padding-block: 68px 62px;
  }

  .hero__title {
    max-width: 580px;
    font-size: 55px;
    line-height: 1.091;
    margin-bottom: 74px;
  }

  .hero__subtitle {
    margin-bottom: 41px;
  }

  .hero__image {
    width: 529px;
    height: 438px;
  }

  .grid-4-cols {
    grid-template-columns: repeat(2, 220px);
    justify-content: space-evenly;
    column-gap: 20px;
  }

  .h2 {
    font-size: 45px;
    line-height: 1.222;
  }

  .benefits__column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .benefits__subtitle {
    max-width: 666px;
    margin-bottom: 40px;
  }

  .benefits__image {
    width: 302px;
    height: 183px;
    margin-bottom: 0;
  }

  .benefits__grid-4-cols {
    padding-top: 88px;
  }

  .grid-cta__column-left {
    order: 1;
  }

  .grid-cta__column-right {
    min-width: 406px;
  }

  .cta__image {
    width: 100%;
    position: relative;
    top: 175px;
  }

  .strawberry-1 {
    left: 43vw;
    top: 200px;
  }

  .strawberry-2 {
    top: 95px;
    left: 78vw;
  }
}


@media screen and (max-width: 567px) {

  .grid-2-cols__column-left, .grid-2-cols__column-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero {
    padding-block: 57px 43px;
  }

  .hero__title {
    max-width: 340px;
    font-size: 32px;
    margin-bottom: 40px;
  }

  .hero__image {
    width: 250px;
    height: 207px;
  }

  .hero__button {
    margin-bottom: 38px;
  }

  .circle-1, .circle-2 {
    width: 65%;
    bottom: -50px;
  }

  .h2 {
    font-size: 30px;
    line-height: 1.167;
  }

  .benefits {
    padding-block: 100px;
  }

  .benefits__grid-4-cols {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding-block: 60px 0;
    column-gap: 15px;
    margin: 0;
  }

  .benefit__number {
    width: 70px;
  }

  .cta {
    padding-block: 100px 77px;
  }

  .grid-cta {
    grid-template-columns: 1fr;
  }

  .grid-cta__column-left {
    display: none;
  }

  .grid-cta__column-right {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cta__description {
    width: 100%;
  }

  .form, .form__field, .form__button {
    width: 100%;
  }
}




