<header-component></header-component>

<section class="hero">
  <div class="container">
    <div class="grid-2-cols">
      <div class="grid-2-cols__column-left">
        <h1 class="hero__title">Мягкие французские
          пироженки Macaroons</h1>
        <div class="hero__subtitle">
          <p>Побалуйте себя и своих близких самыми вкусными и ароматными домашними
            пироженками Macaroon!</p>
        </div>
        <button class="button hero__button" type="button" (click)="scrollTo(productsElement)">Выбрать макарун</button>
      </div>
      <div class="grid-2-cols__column-right">
        <span class="circle-1"></span>
        <span class="circle-2"></span>
        <img class="hero__image" src="images/hero-image.png"
             alt="Набор Macaroons"
             width='529' height='438' loading="lazy">
      </div>
    </div>
  </div>
</section>

<section class="benefits">
  <div class="container">
    <div class="grid-2-cols benefits__grid">
      <div class="grid-2-cols__column-left benefits__column">
        <h2 class="h2 benefits__title">Мы печём для вас
          вкуснейшие макаруны
          уже более 10 лет</h2>
        <div class="benefits__subtitle">
          <p>Все пироженки мы готовим только из натуральных и качественных продуктов, без консервантов,
            ароматизаторов, красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей,
            маргарина, разрыхлителей и улучшителей муки.</p>
        </div>
      </div>
      <div class="grid-2-cols__column-right benefits__column">
        <img class="benefits__image" src="images/benefits-image.png"
             alt="Macaroon"
             width="520" height="314" loading="lazy">
      </div>
    </div>
    <div class="grid-4-cols benefits__grid-4-cols">
      @for (benefit of benefits; track benefit.id) {
      <div class="grid-4-cols__item">
        <div class="benefit">
          <div class="benefit__number">
            <div class="benefit__number-text">{{ benefit.number }}</div>
            <div class="benefit__number-bg"></div>
          </div>
          <div class="benefit__title">{{ benefit.title }}</div>
          <div class="benefit__description">
            <p>{{ benefit.description }}</p>
          </div>
        </div>
      </div>
      }
    </div>
  </div>

</section>

<section class="products" #productsElement>
  <div class="container">
    <h2 class="h2 products__title">
      Выберите свой макарун
    </h2>
    <div class="products__grid">
      @for (product of products; track product.id) {
      <div class="product__card">
        <div class="product__image">
          <img src="images/products/{{ product.image }}" alt="{{ product.title }}">
        </div>
        <div class="product__title">{{ product.title }}</div>
        <div class="product__content">
          <div class="product__text">
            <p>{{ product.quantity }} шт.</p>
            <p>{{ product.price }} руб.</p>
          </div>
          <button class="button product__button" (click)="addToCart(product, ctaElement)">Заказать</button>
        </div>
      </div>
      }
    </div>
  </div>
</section>

<section class="cta" #ctaElement>
  <div class="container">
    <div class="grid-cta">
      <div class="grid-cta__column-left">
        <img class="cta__image" src="images/form-image.png" alt="Макаруны">
        <img class="strawberry-1" src="images/strawberry-1.png" alt="Клубника">
      </div>
      <div class="grid-cta__column-right">
        <h2 class=" h2 cta__title">Закажите макарун!</h2>
        <div class="cta__description">
          <p>Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!</p>
        </div>
        <form class="form" action="#">
          <fieldset class="form__fieldset">
            <legend class="form__label">Ваш выбор</legend>
            <input class="form__field"
                   type="text"
                   name="choice"
                   id="choice"
                   placeholder="Напишите, что хотите заказать..."
                   [(ngModel)]="formValues.productTitle"
            >
          </fieldset>
          <fieldset class="form__fieldset form__fieldset-contact">
            <legend class="form__label">Заполните данные для заказа</legend>
            <input class="form__field"
                   type="text"
                   name="name"
                   id="name"
                   placeholder="Ваше имя"
                   [(ngModel)]="formValues.name"
            >

            <input class="form__field"
                   type="text"
                   name="phone"
                   id="phone"
                   placeholder="+375 (__) ___ - __ - __"
                   [(ngModel)]="formValues.phone"
            >

            <button class="button form__button" type="submit" (click)="createOrder()">Оформить заказ</button>
          </fieldset>
          <img class="strawberry-2" src="images/strawberry-2.png" alt="Клубника">
        </form>
      </div>
    </div>
  </div>
</section>

<footer-component></footer-component>

<present-component></present-component>
